<html>

<body>

    <center>

        <h1> 당신의 세대유형은? </h1>
    
    {%if data == 0%}
    <h1 class="mt-5 text-center">파릇파릇한 대학생</h1>  
    <img src='static\파릇.jpg'>
    <h1 class="mt-5 text-center">당신의 성격에 따른 세대 유형은 파릇파릇한 대학생입니다. 당신은 자유로운 가치관을 지녔습니다. 타인의 가치관을 그대로 쫓기 보다는 뚜렷한 나만의 가치관을 지니고 있습니다.</h1>  

    {%elif data == 1%}
    <h1 class="mt-5 text-center">혼자 밥먹는 사장님</h1>
    <img src='static\부장.jpg'>
    <h1 class="mt-5 text-center">당신의 성격에 따른 세대 유형은 혼자 밥먹는 사장님입니다. 타고난 성격은 이기지 못하는 법입니다. 모든 것을 혼자 해내려고 하는 개인주의가 강합니다. 당신은 규율에 충실하고, 어쩌면 더 과하게 충실할 수도 있겠습니다. 그러다보니 사람들이 당신에 대한 신뢰감이 높습니다.</h1> 

    {%elif data == 2%}
    <h1 class="mt-5 text-center">욜로족 대리님 </h1>  
    <img src='static\욜로.jpg'>  
    <h1>당신의 성격에 따른 세대 유형은 욜로족 대리님입니다.겉으로 보면 당신은 지속적으로 변화하는 사회에 재빠르게 적응하는 것처럼 보입니다. 실제로 사람들은 당신을 속히 말해 '요즘 사람'이라고 생각할 수 있습니다. 그러나 의외로 당신은 어떤 일을 하고자 할 때 혼자 해내려고 하는 개인주의가 있습니다.</h1>  
    
    {%elif data == 3%}
    <h1 class="mt-5 text-center">젊은 꼰대 사회 초년생</h1>
    <img src='static\꼰대.jpg'>
    <h1 class="mt-5 text-center">당신의 성격에 따른 세대 유형은 젊지만 꼰대력이 있는 사회 초년생입니다. 당신의 세대 유형은 당신이 흔히 알고 있는 세대 유형인 Y세대와 Z세대가 혼합되어 어쩌면 애매하다고 할 수 있겠습니다. 당신 조차도 당신의 가치관이 어느 세대와 더 유사한지 헷갈리고는 합니다. 그러다보니 세대 유형에 따라 당신에 대한 평가가 극명히 갈릴 수 있습니다.</h1>

    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>