<html>
    <body bgcolor=#d4a3ae>
        <center>
    </article class="start">
        <h1 class="mt-5 text-center">나는 무슨 세대일까?</h1>
        <h2 class="mt-5 text-center">당신이 무슨 세대인지 알 수 있습니다.</h2>
        <h3 class="mt-5 text-center">아래의 질문을 읽고</h3>
        <h3 class="mt-5 text-center">- 전혀 해당되지 않으면 1 (매우 아니다)</h3>
        <h3 class="mt-5 text-center">- 일부 해당되지 않으면 2 (아니다)</h3>
        <h3 class="mt-5 text-center">- 보통이면 3 (보통이다)</h3>
        <h3 class="mt-5 text-center">- 일부 해당되면 4 (그렇다)</h3>
        <h3 class="mt-5 text-center">- 매우 해당되면 5 (매우 그렇다)</h3>
        <h3 class="mt-5 text-center">점수를 입력해주세요.</h3>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> 나는 카카오스토리, 인스타그램, 네이버 밴드 등 다양한 SNS 활동을 즐겨한다. :  <input type="text", name='a', placeholder="enter 1"><br><br>
            나는 뉴스, 지식 등 유용한 정보를 얻기 위하여 SNS 활동을 한다. :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            나는 SNS를 친한 사람들에게만 공유하고 싶어서 이용한다. :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            나는 개인주의라고 생각한다 : <input type="text", name='d', placeholder="enter 4">  <br><br>
            나는 나만을 위한 프로모션 이벤트를 하면 좋겠다 : <input type="text", name='e', placeholder="enter 5">  <br><br>

            나는 SNS에 ‘인증샷’을 올린다 : <input type="text", name='f', placeholder="enter 6">  <br><br>
            나는 유행보다 개성이 더 중요하다고 생각한다. : <input type="text", name='g', placeholder="enter 7">  <br><br>
            나는 취미생활을 비롯한 나의 즐거움에 사용하는 돈은 전혀 아깝지 않다. : <input type="text", name='h', placeholder="enter 8">  <br><br>
            나는 자기 계발을 위해서 사용하는 돈은 전혀 아깝지 않다. : <input type="text", name='i', placeholder="enter 9">  <br><br>
            나는 안정적인 직장을 선호한다. : <input type="text", name='j', placeholder="enter 10">  <br><br>

            나는 저축보다 소비를 지향한다. : <input type="text", name='k', placeholder="enter 11">  <br><br>
            나는 명품을 구매하는 것이 기억에 남는 여행을 하는 것보다 좋다. : <input type="text", name='l', placeholder="enter 12">  <br><br>
            나는 먹고 싶은 음식은  바로 주문(배달)해서 먹는다. : <input type="text", name='m', placeholder="enter 13">  <br><br>
            나는 조금 비싸더라도 착한 소비를 하는 것이 중요하다. : <input type="text", name='n', placeholder="enter 14">  <br><br>
            나는 좋은 직장에 입사하는 것이 성공적인 삶이라고 생각한다. : <input type="text", name='o', placeholder="enter 15">  <br><br>

            나는 일할 때 팀으로 함께 일하는 것보다 혼자 일하는 것을 선호한다. : <input type="text", name='p', placeholder="enter 16">  <br><br>
            나는 공동의 목표를 위해 업무를 수행하기보다는 자기 계발을 통해 성장할 수 있는 일을 하고 싶다. : <input type="text", name='q', placeholder="enter 17">  <br><br>
            나는 업무 관련 안건을 직접 말하기 보다 모바일 메신저로 전달하는 것을 선호한다. : <input type="text", name='r', placeholder="enter 18">  <br><br>
            나는 하나의 직업에 머무르는 것보다 여러 경험을 해보고 싶다. : <input type="text", name='s', placeholder="enter 19"> <br><br>
            나는 일이 매우 많아도 인정받는 경력이라면 물경력보다 낫다. : <input type="text", name='t', placeholder="enter 20"> <br><br>
            나는 정시출근한 뒤 업무 준비를 시작한다. : <input type="text", name='u', placeholder="enter 21">   <br><br><br></b>
            <input type="submit" , value='알아보자!' >
        </form>
    </article>

    
        
    </center>
    </body>

    
</html>

